.categories {
  padding: 100px 0 70px;
}

.categories-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  width: min(92%, 1200px);
}

@media (max-width: 900px) {
  .categories {
    padding: 70px 0 50px;
  }

  .categories-grid {
    grid-template-columns: 1fr;
  }
}
