.navbar{

  position:fixed;

  top:0;

  left:0;

  width:100%;

  z-index:1000;

}

.hero{

  padding-top:100px;

}

.navbar-container {

  width:min(90%,1400px);

  margin:auto;

  height:90px;

  display:flex;

  align-items:center;

  justify-content:space-between;

}



.logo{

  color:#8B5E3C;

  font-size:30px;

  font-weight:800;

  letter-spacing:1.5px;

}



.nav-links {

  display:flex;

  gap:40px;

}



.nav-links a{

  color:#3b2a20;

  text-decoration:none;

  font-weight:600;

  transition:.3s;

}


.nav-links a:hover{

  color:#A67C52;

}



.nav-links a:hover {

  color:#d4a373;

}



.nav-actions {

  display:flex;

  gap:15px;

}


.nav-actions button{

  border:none;

  background:none;

  color:#3b2a20;

  font-size:22px;

  cursor:pointer;

  transition:.3s;

}

.nav-actions button:hover{

  color:#A67C52;

}



.menu-btn {

  display:none;

}

.cart-icon{

  position:relative;

  color:inherit;

  display:flex;

  align-items:center;

}



.cart-badge{

  position:absolute;

  top:-10px;

  right:-12px;

  width:20px;

  height:20px;

  border-radius:50%;

  background:#8b5e3c;

  color:white;

  font-size:12px;

  display:flex;

  justify-content:center;

  align-items:center;

}

/* ===========================
   Tablet
=========================== */

@media (max-width:992px){

  .navbar-container{

    width:95%;

    height:80px;

  }

  .nav-links{

    gap:20px;

  }

}


/* ===========================
   Mobile
=========================== */

@media (max-width:768px){

  .navbar{

    background:white;

  }

  .navbar-container{

    width:95%;

    height:70px;

  }

  .hero{

    padding-top:80px;

  }

  .logo{

    font-size:22px;

  }

  .nav-links{

    display:none;

  }

  .nav-actions{

    gap:12px;

  }

  .nav-actions button{

    font-size:20px;

  }

  .menu-btn{

    display:block;

  }

}


/* ===========================
   Small Mobile
=========================== */

@media (max-width:480px){

  .logo{

    font-size:18px;

  }

  .nav-actions{

    gap:8px;

  }

  .nav-actions button{

    font-size:18px;

  }

  .cart-badge{

    width:18px;

    height:18px;

    font-size:10px;

  }

}
/* ===========================
   Mobile Menu
=========================== */

.mobile-menu{

  position:fixed;

  top:0;

  right:-100%;

  width:260px;

  height:100vh;

  background:white;

  display:flex;

  flex-direction:column;

  padding:90px 30px;

  gap:25px;

  transition:.35s;

  box-shadow:-5px 0 25px rgba(0,0,0,.12);

  z-index:2000;

}

.mobile-menu.open{

  right:0;

}

.mobile-menu a{

  text-decoration:none;

  color:#3b2a20;

  font-size:18px;

  font-weight:600;

}

.close-menu{

  position:absolute;

  top:20px;

  right:20px;

  border:none;

  background:none;

  font-size:30px;

  cursor:pointer;

}